.containerfluid {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #171414;
    height: 750px;
    position: relative;
}

.container {
    width: 80%;
    position: absolute;
    top: 70px;
}

.title {
    display: flex;
    justify-content: center;
}

.title p {
    font-family: Inter;
    font-size: 54px;
    font-weight: 600;
    line-height: 77px;
    letter-spacing: 0em;
    color: white;
}

.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card1 {
    width: 359px;
    height: 377px;
    top: 1615px;
    left: 146px;
    border-radius: 14px;
    background-color: rgb(58, 54, 54);
    border: 1px solid #171414;
}

.card1:hover {
    width: 359px;
    height: 377px;
    top: 1615px;
    left: 146px;
    border-radius: 14px;
    background-color:  #171414;
    border: 1px solid rgb(58, 54, 54);
}

.imgChooseIcon {
    padding-left: 20px;
    padding-top: 20px;
}

.cardTitle {
    padding-left: 20px;
    padding-top: 5px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    color: white;

}

.cardDefinition {
    padding-left: 20px;
    padding-top: 5px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(166, 157, 157);
}

.buttonReadMore{
    padding-left: 20px;
    padding-top: 5px;
}

.cardButton{    
    background: #E3B748;
    width: 121px;
    height: 43px;
    top: 1913px;
    left: 169px;
    border-radius: 23.5px;
    border:  2px solid #E3B748;;
}